/* Modular type scale: Perfect Fourth on type-scale.com*/
/* Screen sizes for media queries, assumes mobile first strategy */
html {
  font-size: 1em; }

body {
  background-color: #ffffff;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333333; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1em 0 0.5em;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 3.157em; }

h2 {
  font-size: 2.369em; }

h3 {
  font-size: 1.777em; }

h4 {
  font-size: 1.333em; }

small, .font_small {
  font-size: 0.75em; }

a {
  color: #0000FF; }

a:hover, a:focus {
  background: #A2DED0; }

.center {
  text-align: center; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/* Block layout */
.grid-odd,
.grid-even {
  width: 60rem;
  margin: 0 auto; }

/* Grid layout where supported */
@supports (display: grid) {
  div {
    box-sizing: border-box; }
  .grid-odd,
  .grid-even {
    width: auto; } }

.grid-odd {
  /*3 cols by 6 rows*/
  display: grid;
  grid-template-columns: 1fr 90% 1fr;
  grid-template-rows: auto auto auto auto auto auto; }

.grid-even {
  /*4 cols by 4 rows*/
  display: grid;
  grid-template-columns: 1fr 60% 30% 1fr;
  grid-template-rows: auto auto auto auto; }

@media screen and (min-width: 700px) {
  .grid-odd {
    grid-template-columns: 1fr 80% 1fr; }
  .grid-even {
    grid-template-columns: 1fr 60% 20% 1fr; } }

@media screen and (min-width: 1300px) {
  .grid-odd {
    grid-template-columns: 1fr 60% 1fr; }
  .grid-even {
    grid-template-columns: 1fr 40% 20% 1fr; } }

.grid-odd .area-header {
  grid-column: 2 / 3;
  grid-row: 1; }

.grid-even .area-header {
  grid-column: 2 / 4;
  grid-row: 1; }

.grid-odd .area-nav {
  grid-column: 2 / 3;
  grid-row: 2; }

.grid-even .area-nav {
  grid-column: 2 / 4;
  grid-row: 2; }

.area-hero-bg {
  grid-column: 1 / 4;
  grid-row: 3; }

.area-hero {
  width: 100%; }

@media screen and (min-width: 700px) {
  .area-hero-bg {
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    grid-template-rows: 1; }
  .area-hero {
    grid-column: 2 / 3;
    grid-row: 1; } }

@media screen and (min-width: 1300px) {
  .area-hero-bg {
    grid-template-columns: 1fr 60% 1fr; } }

.area-content {
  grid-column: 2 / 3;
  grid-row: 4; }

.area-other-bg {
  grid-column: 1 / 4;
  grid-row: 5;
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  grid-template-rows: 1; }

@media screen and (min-width: 1300px) {
  .area-other-bg {
    grid-template-columns: 1fr 60% 1fr; } }

.area-other {
  grid-column: 2 / 3;
  grid-row: 1;
  display: flex;
  flex-wrap: wrap;
  background: #ffffff; }

.flex-otherL,
.flex-otherR {
  display: none; }

@media screen and (min-width: 700px) {
  .flex-otherL,
  .flex-otherR {
    display: block;
    width: 50%; } }

.area-main {
  grid-column: 2 / 3;
  grid-row: 3; }

.area-sidebar {
  grid-column: 3 / 4;
  grid-row: 3; }

.grid-odd .area-footer {
  grid-column: 2 / 3;
  grid-row: 6; }

.grid-even .area-footer {
  grid-column: 2 / 4;
  grid-row: 4; }

.area-hero-bg,
.area-other-bg {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a2ded0' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E"); }

nav ul {
  width: 100%;
  border: 1px solid #333333;
  border-width: 1px 0 1px 0;
  font-size: 1.333em;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0; }

nav li {
  display: flex;
  flex-grow: 1; }

nav a {
  text-decoration: none;
  width: 100%;
  padding: 0.5em 1em;
  text-align: center; }

nav a:hover, nav a:focus {
  text-decoration: underline; }

nav [aria-current="page"] {
  background: #edf9f6; }

.area-hero {
  background: #0000FF;
  color: #ffffff;
  font-size: 1.777em;
  padding: 2em 1em 1em 1em; }

.hero-small {
  background: #0000FF;
  color: #ffffff;
  font-size: 1.333em;
  padding: 1rem 2rem; }

.hero-small h2 {
  color: #A2DED0; }

.standard-large {
  font-size: 1.333em;
  padding: 2em 2em 1em 2em; }

.resource-large {
  background: #0000FF;
  color: #ffffff;
  margin-bottom: 1.5rem;
  font-size: 1.333em; }

.resource-large img {
  width: 100%; }

.resource-large-text {
  color: #ffffff;
  padding: 1rem 1rem 2rem 1rem; }

.resource-large h2,
.resource-large p,
.resource-large a {
  margin-top: 0.5em; }

.resource-large-text h3 {
  color: #A2DED0;
  margin-top: 0.5em; }

.flex-otherR {
  padding-left: 1em; }

.flex-otherR h2 {
  color: #0000FF; }

.news-snippet {
  margin-right: 1em;
  padding-bottom: 2em;
  border-bottom: 1px solid #333333; }

.link-large {
  border: 3px solid #0000FF;
  border-radius: 1.5rem;
  color: #0000FF;
  padding: 1rem 2rem;
  text-decoration: none; }

.link-large:hover, .link-large:focus {
  background: #0000FF;
  color: #ffffff; }

.link-medium {
  border: 2px solid #edf9f6;
  border-radius: 1.5rem;
  color: #ffffff;
  padding: 0.5rem 1rem;
  text-decoration: none; }

.link-medium:hover, .link-medium:focus {
  background: #ffffff;
  color: #0000FF; }

.icon {
  width: 1em;
  height: 1em;
  fill: #000000; }

.hero-large .icon-circle-triple {
  width: 2em;
  fill: #A2DED0; }

.resource-large .icon-circle-triple {
  width: 1.5em;
  fill: #A2DED0; }

.area-otherR .icon-circle-triple {
  width: 1.5em;
  fill: #0000FF; }
