// SCSS file - compiles to CSS folder

// Colors
$primary-color: #0000FF;  //bright blue
$accent-color: #A2DED0;   //pale green
$standard-color: #333333; //charcoal grey
$black-color: #000000;
$white-color: #ffffff;

$accent-lighter: lighten($accent-color,20%);

/* Modular type scale: Perfect Fourth on type-scale.com*/
$size-S: 0.75em;
$size-M: 1em;
$size-L: 1.333em;
$size-XL: 1.777em;
$size-XXL: 2.369em;
$size-XXXL: 3.157em;

/* Screen sizes for media queries, assumes mobile first strategy */
$break-M: 700px;
$break-L: 1300px;

// Typography

html {font-size: $size-M;}

body {
  background-color: $white-color;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: $standard-color;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1em 0 0.5em;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: $size-XXXL;
}
h2 {font-size: $size-XXL;}
h3 {font-size: $size-XL;}
h4 {font-size: $size-L;}
small, .font_small {font-size: $size-S;}

a {
  color: $primary-color;
}
a:hover, a:focus {
  background: $accent-color;
}

// Utilities
.center {
  text-align: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// Layout

/* Block layout */
.grid-even {
  width: 60rem;
  margin: 0 auto;
}

/* Grid layout where supported */
@supports (display: grid) {
  div {
    box-sizing: border-box;
  }
  .grid-even {
    width: auto;
  }
}
.grid-even {
  display: grid;
  grid-template-columns: 1fr 90% 1fr;
  grid-template-rows: auto auto auto auto auto auto;
}
@media screen and (min-width: $break-M){
  .grid-even {
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    grid-template-rows: auto auto auto auto auto auto;
  }
}
@media screen and (min-width: $break-L){
  .grid-even {
    grid-template-columns: 1fr 60% 1fr;
  }
}

.area-header {
  grid-column: 2 / 3;
  grid-row: 1;
}
.area-nav {
  grid-column: 2 / 3;
  grid-row: 2;
}
.area-hero-bg {
  grid-column: 1 / 4;
  grid-row: 3;
}
.area-hero {
  width: 100%;
}
@media screen and (min-width: $break-M)  {
  .area-hero-bg {
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    grid-template-rows: 1;
  }
  .area-hero {
    grid-column: 2 / 3;
    grid-row: 1;
  }
}
@media screen and (min-width: $break-L)  {
  .area-hero-bg {
    grid-template-columns: 1fr 60% 1fr;
  }
}
.area-content {
  grid-column: 2 / 3;
  grid-row: 4;
}
.area-other-bg {
  grid-column: 1 / 4;
  grid-row: 5;
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  grid-template-rows: 1;
}
@media screen and (min-width: $break-L) {
  .area-other-bg {
    grid-template-columns: 1fr 60% 1fr;
  }
}
.area-other {
  grid-column: 2 / 3;
  grid-row: 1;
  display: flex;
  flex-wrap: wrap;
  background: $white-color;
}
.flex-otherL,
.flex-otherR {
  display: none;
}
@media screen and (min-width: $break-M)  {
  .flex-otherL,
  .flex-otherR {
    display: block;
    width: 50%;
  }
}

.area-footer {
  grid-column: 2 / 4;
  grid-row: 6;
}

.area-hero-bg,
.area-other-bg {
  background-color: $white-color;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a2ded0' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

// Navigation
nav ul {
  width: 100%;
  border: 1px solid $standard-color;
  border-width: 1px 0 1px 0;
  font-size: $size-L;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav li {
  display: flex;
  flex-grow: 1;
}
nav a {
  text-decoration: none;
  width: 100%;
  padding: 0.5em 1em;
  text-align: center;
}
nav a:hover, nav a:focus {
  text-decoration: underline;
}
nav [aria-current="page"] {
  background: $accent-lighter;
}

// Modules
.area-hero {
  background: $primary-color;
  color: $white-color;
  font-size: $size-XL;
  padding: 2em 1em 1em 1em;
}

.hero-small {
  background: $primary-color;
  color: $white-color;
  font-size: $size-L;
  padding: 1rem 2rem;
}
.hero-small h2 {
  color: $accent-color;
}
.standard-large {
  font-size: $size-L;
  padding: 2em 2em 1em 2em;
}

.resource-large {
  background: $primary-color;
  color: $white-color;
  margin-bottom: 1.5rem;
  font-size: $size-L;
}
.resource-large img {
  width: 100%;
}
.resource-large-text {
  color: $white-color;
  padding: 1rem 1rem 2rem 1rem;
}
.resource-large h2,
.resource-large p,
.resource-large a {
  margin-top: 0.5em;
}
.resource-large-text h3 {
  color: $accent-color;
  margin-top: 0.5em;
}

.flex-otherR {
  padding-left: 1em;
}
.flex-otherR h2 {
  color: $primary-color;
}
.news-snippet {
  margin-right: 1em;
  padding-bottom: 2em;
  border-bottom: 1px solid $standard-color;
}

.link-large {
  border: 3px solid $primary-color;
  border-radius: 1.5rem;
  color: $primary-color;
  padding: 1rem 2rem;
  text-decoration: none;
}
.link-large:hover, .link-large:focus {
  background: $primary-color;
  color: $white-color;
}
.link-medium {
  border: 2px solid $accent-lighter;
  border-radius: 1.5rem;
  color: $white-color;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.link-medium:hover, .link-medium:focus {
  background: $white-color;
  color: $primary-color;
}


// Icons
.icon {
  width: 1em;
  height: 1em;
  fill: $black-color;
}

.hero-large .icon-circle-triple {
  width: 2em;
  fill: $accent-color;
}
.resource-large .icon-circle-triple {
  width: 1.5em;
  fill: $accent-color;
}
.area-otherR .icon-circle-triple {
  width: 1.5em;
  fill: $primary-color;
}
